
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Minecraft';
    src: url('../Assets/Fonts/Minecraft.ttf') format('truetype');
}
  

body {
    font-family: 'Arial', sans-serif; /* Añade tu fuente predeterminada si lo deseas */
    line-height: 1.6;
    display: grid;
    align-items: center;
    justify-content: center;
    align-content: center;
    justify-items: stretch;
    background-image: url('../Assets/Imagenes/Boton para Menu.jpg');
    background-size:cover;
    /* background-repeat: no-repeat; */
}

#Titulo
{
    text-align: center;
}

#ventana{
    display: grid;
    align-items: center;
    justify-content: center;
    align-content: center;
    justify-items: center;
    width: 450px;
    height: 100vh;
    background-color: aqua;
    background-image: url('../Assets/Imagenes/FondoMenuPrincipal.jpg');
    background-size: cover;
    background-position: center; /* Centrar la imagen de fondo */
}

.boton{
    width: 200px;
    height: 50px;
    background-image: url('../Assets/Imagenes/Boton para Menu.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    font-size: x-large;
    font-family: 'Minecraft','sans-serif';
    text-align: center;

    display: grid;
    grid-template-columns: auto auto; /* Dos columnas de ancho automático */
    grid-gap: 10px; /* Espacio entre los elementos */
    justify-content: center;
    align-items: center;
    /* align-content: center; */
}

#iniciar {
    /* margin-bottom: 500px; */
    
    animation: latido 3s infinite;
}

#inicio{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: black;
    margin-top: 110px;
    width: 410px;
    height: 580px;
    background-color: blueviolet;
    font-size: x-large;
    font-family: 'Minecraft','sans-serif';
    text-align: center;
}

@keyframes latido {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  

#display{
    display: grid;
    align-items: center;
    justify-content: center;
    align-content: center;
    justify-items: stretch;
}
/* .boton:active{
    
} */

.contenedor{
    margin-left: 23%;
    display:grid;
    grid-template-columns: 1fr 4fr;
    width: 500px;
    /* visibility: hidden; */
}

.Pokemon{
    width: 126px;
    height: 126px;
    margin-right: -10%;
}

#speaker {
    width: 2rem;
    height: 2rem;
}

.vinculo {
    text-decoration: none;
    width: 200px;
    height: 50px;
    margin-top: 10%;
}

.vinculo:visited {
    color:black;
    text-decoration: none;
}